aiohttp
aiosignal
aniso8601
async-timeout
attrs
autograd==1.7.0
autograd-gamma==0.5.0
Bottleneck
Brotli
brotlipy==0.7.0
certifi
cffi
charset-normalizer
click
colorama
contourpy
cryptography
cycler
filelock
Flask
Flask-RESTful
flit_core
fonttools
formulaic==1.0.2
frozenlist
fsspec
gmpy2
idna
interface-meta==1.3.0
itsdangerous
Jinja2
joblib
kiwisolver
lifelines==0.29.0
llvmlite
MarkupSafe
matplotlib
mkl-fft==1.3.6
mkl-random
mkl-service==2.4.0
mpmath
multidict
munkres==1.1.4
networkx
numba
numexpr
numpy
packaging
paho-mqtt==1.6.1
pandas
Pillow==9.4.0
ply==3.11
psutil
pyarrow==17.0.0
pyasn1
pycparser
pyOpenSSL
pyparsing
PyQt5==5.15.7
PyQt5-sip
PySocks
python-dateutil
pytz
PyYAML
requests
scikit-learn==1.5.2
scikit-plot==0.3.7
scipy==1.11.4
seaborn==0.13.2
sip
six
soupsieve
sympy
threadpoolctl==3.5.0
toml
torch==2.2.2
torchaudio==2.2.2
torchvision==0.17.2
tqdm==4.66.5
typing_extensions==4.9.0
tzdata
unicodedata2
urllib3
Werkzeug
win-inet-pton
wrapt
yarl