# Device used to run experiments [cpu, cuda]
device: cuda

# W&B configuration
wandb:
  # Whether enable or not W&B
  enabled: True
  # Project name
  project: TCGA-BRCA-GE-ME-Cross-Validation

# Dataset configuration
dataset:
  # Name of the dataset (logged on W&B)
  name: TCGA-BRCA-GE-ME
  # CSV Gene Expression main dataset
  gene_expression: ../../data/datasets/KIRCKIRP_MCAT_gene_expression_and_overall_survival_dataset.csv
  # Gene Expression signatures
  gene_expression_signatures: ../../data/signatures/survpath_pathway_xena_signatures.csv
  # Gene Expression correlation threshold with label
  gene_expression_correlation_threshold: 0.0
  # CSV Methylation secondary dataset
  methylation: ../../data/datasets/KIRCKIRP_MCAT_methylation450_and_overall_survival_dataset.csv
  # Methylation signatures
  methylation_signatures: ../../data/signatures/methylation_signatures_with_pathway_xena.csv
  # Methylation Islands correlation threshold with label
  methylation_islands_correlation_threshold: 0.0
  # Number of Methylation Islands per each column of the Methylation dataset
  methylation_island_number_per_column: 0
  # Methylation Islands Statistics modality. Default is True
  methylation_islands_statistics: True
  # Whether to normalize genomic data or not. Default is False
  normalize: False
  # Whether to standardize genomic data or not. Default is True
  standardize: True
  # Random Seed
  random_seed: 42
  # ID of the patient to use as test. Set ~ if testing a patient is not needed [BRCA: 6a186809-3422-41d0-83d2-867145830936, GBMLGG: ae081e4a-efa9-4b52-b15e-29085c0612d3, LUADLUST: dbd5b0de-94c9-45dd-afb3-6820a7ecaca2, KIRCKIRP: d66c9261-6c0c-44b0-92fa-a43757f34cb2]
  leave_one_out: d66c9261-6c0c-44b0-92fa-a43757f34cb2

# Model configuration
model:
  # Model name
  name: SurvPath with Gene Expression & Methylation
  # Path of model checkpoint to load. Set ~ if loading is not necessary
  load_from_checkpoint: ~
  # Epoch of checkpointing. Set 0 if saving the model is not necessary
  checkpoint_epoch: 20
  # Directory in which model checkpoint will be saved
  checkpoint_dir: ../../src/surv_path/checkpoints/
  # Best model file during training (for Early Stopping)
  checkpoint_best_model: ../../src/surv_path/checkpoints/model
  # Fusion mechanism [concat, gated_concat, bilinear]
  fusion: concat
  # Model size [small, medium, big]
  model_size: medium

# Training configuration
training:
  # Coefficient used in Cross Entropy Survival loss
  alpha: [0.215]
  # Batch size
  batch_size: 1
  # Classes Number. Default is 4
  classes_number: 4
  # Dropout
  dropout: [0.0, 0.125, 0.25]
  # How many epochs of training
  epochs: 50
  # Patience during training
  early_stopping_patience: 10
  # Folds Number
  folds: 5
  # Coefficient used in exponential lr scheduling
  gamma: [0.95]
  # Gradient acceleration step
  grad_acc_step: 4
  # Regulator coefficient. Set 0.0 if regularization is not needed
  lambda: [0.00001]
  # Loss to use during training [ce, ces, sct]
  loss: ces
  # Learning rate
  lr: [1e-3]
  # Which optimizer to use [sgd, adam, rms, adamax]
  optimizer: adamax
  # At which epoch write the attention file
  output_attn_epoch: 20
  # Scheduler for learning rate [~, exp]
  scheduler: exp
  # Directory in which attention outputs will be saved
  test_output_dir: ../../src/surv_path/checkpoints/outputs/
  # Train size ratio
  train_size: 0.8
  # Weight decay
  weight_decay: [0.0]
  # C-Index weight
  weight_c_index: 1.0
  # Loss weight
  weight_loss: 0.0
  # C-Index difference between Training and Validation
  weight_difference: 0.25